.reset{margin:0px;padding:0px;border:none;outline:0;}
.header-font{font-family:'';}
html,body,h1,h2,h3,h4,h5,h6,nav,a,header,p,section,footer,form,fieldset,input,select,ul,li{margin:0px;padding:0px;border:none;outline:0;}
body{font-family:helvetica,arial,sans-serif;font-size:62.5%;}
