$blue: hsla(213, 35%, 25%, 1);
$purple: hsla(302, 15%, 39%, 1);
$pink: hsla(339, 37%, 55%, 1);
$peach: hsla(359, 41%, 79%, 1);
$taupe: hsla(26, 27%, 85%, 1);
$cream: hsla(47, 45%, 95%, 1);
$black: hsla(194, 74%, 11%, 1);
$offWhite: hsla(47, 31%, 98%, 1);
$brightWhite: hsla(60, 33%, 99%, 1);

$brand1: $cream;
$brand2: $taupe;
$brand3: $peach;
$brand4: $pink;
$brand5: $purple;
$brand6: $blue;

$brand_cols: $brand2, $brand3, $brand4, $brand5, $brand6;
$text_cols: lighten($brand2, 20%), lighten($brand3, 14%), lighten($brand4, 26%), lighten($brand5, 34%), lighten($brand6, 60%);

$white: $brightWhite;
$black: $black;

$errorColour: $pink;
$successColour: $blue;

//2.2 Font imports & settings
@include font-face('Khula', 'fonts/Khula/Khula-SemiBold');
@include font-face('Khula', 'fonts/Khula/Khula-ExtraBold', bold);

$font:'Khula', Helvetica, Arial, sans-serif !default;
$fontSize:1em !default;
$lineHeight:1.8 !default;
$letterSpacing: 0.02em;

$headerFont: 'Khula', Helvetica, Arial, sans-serif !default;
$headerLineHeight:1.5;

// top and bottom space
$verticalSpace:1.8em !default;
// left and right space
$gutter:1.8em !default;

// use with breakpoint mixin like @include until($small) or @include at-least($screenLarge)
$screenXsmall:540px;
$screenSmall:690px;
$screenMedium:780px;
$screenLarge:920px;
$screenXlarge:1280px;




