.reset {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: 0;
}
/*apparently there's some good relative em stuff you can do with less*/
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
nav,
a,
header,
p,
section,
footer,
form,
fieldset,
input,
select,
ul,
li {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: 0;
}
body {
  font-family: helvetica, arial, sans-serif;
  font-size: 62.5%;
}
#container {
  width: 800px;
  height: 800px;
  margin: 40px auto;
  background-image: -webkit-radial-gradient(center top, circle, rgba(255, 0, 0, 0.3) 5%, rgba(255, 85, 0, 0.3) 5%, rgba(255, 85, 0, 0.3) 10%, rgba(255, 170, 0, 0.3) 10%, rgba(255, 170, 0, 0.3) 15%, rgba(255, 255, 0, 0.3) 15%, rgba(255, 255, 0, 0.3) 20%, rgba(170, 255, 0, 0.3) 20%, rgba(170, 255, 0, 0.3) 25%, rgba(85, 255, 0, 0.3) 25%, rgba(85, 255, 0, 0.3) 30%, rgba(0, 255, 0, 0.3) 30%, rgba(0, 255, 0, 0.3) 35%, rgba(0, 255, 85, 0.3) 35%, rgba(0, 255, 85, 0.3) 40%, rgba(0, 255, 170, 0.3) 40%, rgba(0, 255, 170, 0.3) 45%, rgba(0, 255, 255, 0.3) 45%, rgba(0, 255, 255, 0.3) 50%, rgba(0, 170, 255, 0.3) 50%, rgba(0, 170, 255, 0.3) 55%, rgba(0, 85, 255, 0.3) 55%, rgba(0, 85, 255, 0.3) 60%, rgba(0, 0, 255, 0.3) 60%, rgba(0, 0, 255, 0.3) 65%, rgba(85, 0, 255, 0.3) 65%, rgba(85, 0, 255, 0.3) 70%, rgba(170, 0, 255, 0.3) 70%, rgba(170, 0, 255, 0.3) 75%, rgba(255, 0, 255, 0.3) 75%, rgba(255, 0, 255, 0.3) 80%, rgba(255, 0, 170, 0.3) 80%, rgba(255, 0, 170, 0.3) 85%, rgba(255, 0, 85, 0.3) 85%, rgba(255, 0, 85, 0.3) 90%, rgba(255, 0, 0, 0.3) 90%, rgba(255, 0, 0, 0.3)), -webkit-radial-gradient(left center, circle, rgba(255, 0, 0, 0.3) 5%, rgba(255, 85, 0, 0.3) 5%, rgba(255, 85, 0, 0.3) 10%, rgba(255, 170, 0, 0.3) 10%, rgba(255, 170, 0, 0.3) 15%, rgba(255, 255, 0, 0.3) 15%, rgba(255, 255, 0, 0.3) 20%, rgba(170, 255, 0, 0.3) 20%, rgba(170, 255, 0, 0.3) 25%, rgba(85, 255, 0, 0.3) 25%, rgba(85, 255, 0, 0.3) 30%, rgba(0, 255, 0, 0.3) 30%, rgba(0, 255, 0, 0.3) 35%, rgba(0, 255, 85, 0.3) 35%, rgba(0, 255, 85, 0.3) 40%, rgba(0, 255, 170, 0.3) 40%, rgba(0, 255, 170, 0.3) 45%, rgba(0, 255, 255, 0.3) 45%, rgba(0, 255, 255, 0.3) 50%, rgba(0, 170, 255, 0.3) 50%, rgba(0, 170, 255, 0.3) 55%, rgba(0, 85, 255, 0.3) 55%, rgba(0, 85, 255, 0.3) 60%, rgba(0, 0, 255, 0.3) 60%, rgba(0, 0, 255, 0.3) 65%, rgba(85, 0, 255, 0.3) 65%, rgba(85, 0, 255, 0.3) 70%, rgba(170, 0, 255, 0.3) 70%, rgba(170, 0, 255, 0.3) 75%, rgba(255, 0, 255, 0.3) 75%, rgba(255, 0, 255, 0.3) 80%, rgba(255, 0, 170, 0.3) 80%, rgba(255, 0, 170, 0.3) 85%, rgba(255, 0, 85, 0.3) 85%, rgba(255, 0, 85, 0.3) 90%, rgba(255, 0, 0, 0.3) 90%, rgba(255, 0, 0, 0.3)), -webkit-radial-gradient(center bottom, circle, rgba(255, 0, 0, 0.3) 5%, rgba(255, 85, 0, 0.3) 5%, rgba(255, 85, 0, 0.3) 10%, rgba(255, 170, 0, 0.3) 10%, rgba(255, 170, 0, 0.3) 15%, rgba(255, 255, 0, 0.3) 15%, rgba(255, 255, 0, 0.3) 20%, rgba(170, 255, 0, 0.3) 20%, rgba(170, 255, 0, 0.3) 25%, rgba(85, 255, 0, 0.3) 25%, rgba(85, 255, 0, 0.3) 30%, rgba(0, 255, 0, 0.3) 30%, rgba(0, 255, 0, 0.3) 35%, rgba(0, 255, 85, 0.3) 35%, rgba(0, 255, 85, 0.3) 40%, rgba(0, 255, 170, 0.3) 40%, rgba(0, 255, 170, 0.3) 45%, rgba(0, 255, 255, 0.3) 45%, rgba(0, 255, 255, 0.3) 50%, rgba(0, 170, 255, 0.3) 50%, rgba(0, 170, 255, 0.3) 55%, rgba(0, 85, 255, 0.3) 55%, rgba(0, 85, 255, 0.3) 60%, rgba(0, 0, 255, 0.3) 60%, rgba(0, 0, 255, 0.3) 65%, rgba(85, 0, 255, 0.3) 65%, rgba(85, 0, 255, 0.3) 70%, rgba(170, 0, 255, 0.3) 70%, rgba(170, 0, 255, 0.3) 75%, rgba(255, 0, 255, 0.3) 75%, rgba(255, 0, 255, 0.3) 80%, rgba(255, 0, 170, 0.3) 80%, rgba(255, 0, 170, 0.3) 85%, rgba(255, 0, 85, 0.3) 85%, rgba(255, 0, 85, 0.3) 90%, rgba(255, 0, 0, 0.3) 90%, rgba(255, 0, 0, 0.3)), -webkit-radial-gradient(right center, circle, rgba(255, 0, 0, 0.3) 5%, rgba(255, 85, 0, 0.3) 5%, rgba(255, 85, 0, 0.3) 10%, rgba(255, 170, 0, 0.3) 10%, rgba(255, 170, 0, 0.3) 15%, rgba(255, 255, 0, 0.3) 15%, rgba(255, 255, 0, 0.3) 20%, rgba(170, 255, 0, 0.3) 20%, rgba(170, 255, 0, 0.3) 25%, rgba(85, 255, 0, 0.3) 25%, rgba(85, 255, 0, 0.3) 30%, rgba(0, 255, 0, 0.3) 30%, rgba(0, 255, 0, 0.3) 35%, rgba(0, 255, 85, 0.3) 35%, rgba(0, 255, 85, 0.3) 40%, rgba(0, 255, 170, 0.3) 40%, rgba(0, 255, 170, 0.3) 45%, rgba(0, 255, 255, 0.3) 45%, rgba(0, 255, 255, 0.3) 50%, rgba(0, 170, 255, 0.3) 50%, rgba(0, 170, 255, 0.3) 55%, rgba(0, 85, 255, 0.3) 55%, rgba(0, 85, 255, 0.3) 60%, rgba(0, 0, 255, 0.3) 60%, rgba(0, 0, 255, 0.3) 65%, rgba(85, 0, 255, 0.3) 65%, rgba(85, 0, 255, 0.3) 70%, rgba(170, 0, 255, 0.3) 70%, rgba(170, 0, 255, 0.3) 75%, rgba(255, 0, 255, 0.3) 75%, rgba(255, 0, 255, 0.3) 80%, rgba(255, 0, 170, 0.3) 80%, rgba(255, 0, 170, 0.3) 85%, rgba(255, 0, 85, 0.3) 85%, rgba(255, 0, 85, 0.3) 90%, rgba(255, 0, 0, 0.3) 90%, rgba(255, 0, 0, 0.3)) /*-webkit-radial-gradient(center top, circle,
	hsla(60,100%,50%,0.7) 50px,
	hsla(0,0%,0%,0.7) 100px)*/
;
}
