/* reset margins, padding, borders & outline. Sets HTML block elements, also includes a couple of bits of normalize.css */
html, body, div, span, applet, object, iframe,
header, hgroup, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, time,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
figure, figcaption, video, audio, img,
fieldset, form, label, legend, input, button, select,
table, caption, tbody, tfoot, thead, tr, th, td,
section, article, canvas, nav, footer, aside,
figure {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline; }

section, article, aside, footer, nav, header, hgroup, details, figure, figcaption, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

/*Prevents iOS text size adjust after orientation change, without disabling user zoom.*/
html {
  -webkit-text-size-adjust: 100%; }

[hidden] {
  display: none; }

/* set colours, fonts, sizes & breakpoints */
@font-face {
  font-family: "Khula";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/Khula/Khula-SemiBold.ttf") format("truetype"); }
@font-face {
  font-family: "Khula";
  font-weight: bold;
  font-style: normal;
  src: url("fonts/Khula/Khula-ExtraBold.ttf") format("truetype"); }
/* PAGE SPECIFICS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
body {
  background-color: #304764;
  font-family: "Khula", Helvetica, Arial, sans-serif;
  font-size: 100%;
  color: #072731; }
  @media screen and (max-width: 919px) {
    body {
      font-size: 80%; } }
  @media screen and (max-width: 779px) {
    body {
      font-size: 70%; } }
  @media screen and (max-width: 689px) {
    body {
      font-size: 60%; } }
  @media screen and (max-width: 539px) {
    body {
      font-size: 40%; } }
  @media screen and (min-width: 1280px) {
    body {
      font-size: 120%; } }

:focus {
  outline: 0; }

p {
  margin: 0px 0px 1.8em;
  font-size: 1em;
  line-height: 1.8;
  letter-spacing: 0.02em; }

h1, .link__main {
  display: block;
  color: #fdfdfc;
  font-family: "Khula", Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 0.5;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0px -1px 2px rgba(7, 39, 49, 0.2), 0px 1px 2px rgba(253, 253, 252, 0.3);
  transform: translateY(0.1285714286em); }

[class^="section"] a, .section__header, .section__footer {
  display: block;
  overflow: hidden;
  padding: 15vh 1.8em 0px;
  text-align: center; }

@keyframes moveUp {
  0% {
    transform: translateY(0.1285714286em); }
  100% {
    transform: translateY(0px); } }
[class^="section"] a .link__main {
  font-size: 8em;
  text-decoration: none;
  transition: translateY 1s linear; }

[class^="section"]:nth-child(2) a {
  background-color: #dfb3b4;
  background-image: linear-gradient(180deg, #dfb3b4, #e5c2c2);
  box-shadow: inset 0px 2px 30px 0px #d69e9f; }
  [class^="section"]:nth-child(2) a .link__main {
    color: #f4e6e6; }
  [class^="section"]:nth-child(2) a:hover {
    background-image: linear-gradient(180deg, #e4bebf, #e8c9ca); }
    [class^="section"]:nth-child(2) a:hover .link__main {
      color: #fcf8f8;
      animation: moveUp 0.5s ease-in;
      transform: translateY(0px); }

[class^="section"]:nth-child(3) a {
  background-color: #b76280;
  background-image: linear-gradient(180deg, #b76280, #bd708b);
  box-shadow: inset 0px 2px 30px 0px #ab4f6f; }
  [class^="section"]:nth-child(3) a .link__main {
    color: #e0bdc9; }
  [class^="section"]:nth-child(3) a:hover {
    background-image: linear-gradient(180deg, #bc6c88, #c07791); }
    [class^="section"]:nth-child(3) a:hover .link__main {
      color: #e9ced7;
      animation: moveUp 0.5s ease-in;
      transform: translateY(0px); }

[class^="section"]:nth-child(4) a {
  background-color: #725571;
  background-image: linear-gradient(180deg, #725571, #7e5d7d);
  box-shadow: inset 0px 2px 30px 0px #614860; }
  [class^="section"]:nth-child(4) a .link__main {
    color: #c4b0c4; }
  [class^="section"]:nth-child(4) a:hover {
    background-image: linear-gradient(180deg, #7b5b7a, #846283); }
    [class^="section"]:nth-child(4) a:hover .link__main {
      color: #cfbecf;
      animation: moveUp 0.5s ease-in;
      transform: translateY(0px); }

.section__header {
  background-color: #e3d7ce;
  background-image: linear-gradient(180deg, #e3d7ce, #ebe2db);
  box-shadow: inset 0px 2px 30px 0px #d8c8bb; }
  .section__header h1 {
    font-size: 12em;
    color: white; }

.section__footer {
  background-color: #293e56;
  background-image: linear-gradient(180deg, #293e56, #304764);
  box-shadow: inset 0px 2px 30px 0px #1f2f41; }

.section__footer p {
  text-transform: uppercase;
  color: #cbd7e6; }
.section__footer ul {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .section__footer ul li {
    margin: 0px;
    padding: 0px; }
  .section__footer ul li a {
    padding: 0px;
    border: none; }
    .section__footer ul li a svg {
      width: auto;
      height: 64px;
      padding: 0.9em 0.9em;
      box-sizing: border-box;
      background-color: #293e56;
      border-radius: 2px;
      border: 1px solid #cbd7e6;
      box-shadow: inset 0px 0px 0px 2px #293e56, inset 0px 0px 0px 5px rgba(203, 215, 230, 0.4); }
      @media screen and (max-width: 919px) {
        .section__footer ul li a svg {
          height: 54px; } }
      @media screen and (max-width: 779px) {
        .section__footer ul li a svg {
          height: 44px; } }
      @media screen and (min-width: 1280px) {
        .section__footer ul li a svg {
          height: 74px; } }
      .section__footer ul li a svg path {
        fill: #cbd7e6; }
    .section__footer ul li a:hover svg {
      background-color: #cbd7e6; }
      .section__footer ul li a:hover svg path {
        fill: #293e56; }

/*# sourceMappingURL=style.css.map */
